<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>surveyMonk</title>

    <link rel="icon" href="{{ url_for('static', filename="caterina-sanders-ArsLaK5UtVY-unsplash.jpg")}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body class="retro-bg">
    <div class="container">
        <header class="header">
            <h1 class="retro-text">Welcome to surveyMonk </h1>
        </header>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('home') }}" class="retro-link">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('create_survey') }}" class="retro-link">Create New Survey</a></li>
                    <li><a href="{{ url_for('dashboard') }}" class="retro-link">Dashboard</a></li>
                    <li><a href="{{ url_for('logout') }}" class="retro-link">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}" class="retro-link">Register</a></li>
                    <li><a href="{{ url_for('login') }}" class="retro-link">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <main class="content">
            <p class="retro-text">Use this platform to create and manage surveys.</p>
        </main>
    </div>
</body>
</html>
